<div class="row">
    <h1>Hard & Soft skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../../assets/html.png'"
  [showImage]="true"
  [imageHeight]="125"
  [imageWidth]="125"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#E54C21'"
  [innerStrokeColor]="'#F69D73'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../assets/css.png'"
  [showImage]="true"
  [imageHeight]="125"
  [imageWidth]="100"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#214CE5'"
  [innerStrokeColor]="'#739DF6'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../../assets/js.png'"
  [showImage]="true"
  [imageHeight]="150"
  [imageWidth]="140"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#C6A713'"
  [innerStrokeColor]="'#EFDC6F'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [imageSrc]="'../../assets/gh.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="180"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#238636'"
  [innerStrokeColor]="'#51C567'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../../assets/eng.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#E83756'"
  [innerStrokeColor]="'#F99696'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [imageSrc]="'../../assets/group.png'"
  [showImage]="true"
  [imageHeight]="110"
  [imageWidth]="110"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#21B6E5'"
  [innerStrokeColor]="'#7CE0F7'"
  [animation]="true"
  [animationDuration]="650"
></circle-progress>
</div>
</div>